<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/Test_BTXH/BTXH/src/main/java/TestCase/QuyTrinh1/NguoiCaoTuoi">
        <classes>

            <class name="TestCase.QuyTrinh8.B1_DantoMCxa">
                <methods>
                    <include name="SendProfile"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B2_MCxatoCBxa">
                <methods>
                    <include name="MCxatoCBxa"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B3_CBxatoLDxa">
                <methods>
                    <include name="CBxatoLDxa"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B4_LDxatoVTxa">
                <methods>
                    <include name="LDxatoVTxa"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B5_VTxatoCBxa">
                <methods>
                    <include name="VTxatoCBxa"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B6_CBxatoMChuyen">
                <methods>
                    <include name="CBxatoMChuyen"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B7_MChuyentoCBhuyen">
                <methods>
                    <include name="Buoc7_MChuyentoCBhuyen"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B8_CBhuyentoLDphong">
                <methods>
                    <include name="Buoc8_CBhuyentoLDphong"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B9_LDphongtoUBhuyen">
                <methods>
                    <include name="Buoc9_LDphongtoUBhuyen"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B10_UBhuyentoLDhuyen">
                <methods>
                    <include name="Buoc10_UBhuyentoLDhuyen"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B11_LDhuyentoUBhuyen">
                <methods>
                    <include name="Buoc11_LDhuyentoUBhuyen"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B12_UBhuyentoCBhuyen">
                <methods>
                    <include name="Buoc12_UBhuyentoCBhuyen"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B13_CBhuyentoMChuyen">
                <methods>
                    <include name="B13_CBhuyentoMChuyen"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B14_MChuyentoCBxa">
                <methods>
                    <include name="B14_MChuyentoCBxa"/>
                </methods>
            </class>
            <class name="TestCase.QuyTrinh1.NguoiCaoTuoi.B15_CBxatoDan">
                <methods>
                    <include name="B15_CBxatoDan"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>